.styling-example {
  width: 89%;
  margin: auto;
  margin-top: 30px;
}
.sliderDiv {
  width: 280px;
  height: 280px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
}

.sliderDiv:hover {
  box-shadow: -2px -2px 5px rgb(77, 76, 76), 2px 2px 5px rgb(82, 81, 81);
  border-left: none;
  border-right: none;
}
.deal_offer_info {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.deal_offer_heading {
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 10px;
}
.deal_offer_description {
  font-size: 12px;
}
.promocode_div {
  width: 100px;
  height: 50px;
  border: 1px dashed #ef6614;
  float: left;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.promo_color {
  color: #ef6614;
  font-size: 12px;
}
.promoCode {
  font-weight: 500;
  padding-left: 8px;
}

.validity_through {
  width: 145px;
  height: 20px;
  float: left;
  margin-left: 10px;
  margin-top: 40px;
  text-align: right;
}
.validity_information {
  font-size: 12px;
  font-weight: 400;
  color: gray;
}

.rec.rec-arrow {
  border-radius: 0px;
  color: black;
  background-color: white;
  box-shadow: none;
}

.rec.rec-arrow:hover {
  background: white !important;
  color: black !important;
  box-shadow: none !important;
}

.rec.rec-arrow:focus {
  background: white !important;
  color: black !important;
  box-shadow: none !important;
}

button.rec-dot {
  visibility: hidden;
}

.h1-heading {
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin-bottom: 30px;
  color: #000;
  text-align: center;
}
