.upper{
    display:grid;
    grid-template-columns:30% 35% 17% 21%;
    padding:2vh 2vh 0vh 2vh;
    grid-template-rows: 10vh;
    background-color: white;
}
.inner{
    /* border: 1px solid #EBEBEB; */
    text-align: center;
  

}
.card{
    border: 1px solid #EBEBEB;
    border-radius:2px;
    margin-bottom: 2vh;
}
.card:hover{
    box-shadow: 0 2px 4px 0 rgba(15, 11, 11, 0.2), 0 3px 10px 0 rgba(53, 47, 47, 0.19);
}
.lower{
    background:#F9F9F9;
    height:3vh;
    padding:1vh 1vh 1vh 2vh;
    display: flex;
    align-items: center;
    color:#838484;
    font-size:12px;
    font-weight: 400px; 
    

}

.colhead{
    color: #727272;
    font-size: 11px;
    font-weight:600
}
.colhead2{
    color:#3c3939;
    font-size:15px;
    font-weight:600   
}
.fromto{
    color:#000000;
    font-size:23px;
    font-weight:500;
}
.date{
    color:#888686;
    font-size:16px;
    font: weight 400px;
}