.hiddensection{
    display: flex;

    >div{
        margin-right: 30px;
        padding-top: 20px;
        margin-left: 15px;
        margin-bottom: 10px;
    }

    >div>input{
        height: 40px;
        border: 1px solid #D7D5D5;
        padding: 10px;
    }

    >div>span{
        font-weight: 500;
    }
}
textarea{
        border: 1px solid #D7D5D5;
        padding: 10px;
}